@model DataMaster.Data.Entities.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoreID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoreID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerritoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerritoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
